snippet cw
	local awful = require("awful")
	local wibox = require("wibox")
	local beautiful = require("beautiful")
	local get_script = require("lua.helpers.get_script").get_script

	local M = {}

	M.widget = {
		${1}
	}

	return M
